# Supabase Configuration
VITE_SUPABASE_URL=https://idvedtlocjddhivwnjjk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkdmVkdGxvY2pkZGhpdnduamprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NzMwNzUsImV4cCI6MjA4OTA0OTA3NX0.RaQK7t9g-skMm0lVLgfYarKkCW2ARAea6BoONaP6txE
GEMINI_API_KEY=
Lesson_api=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkdmVkdGxvY2pkZGhpdnduamprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NzMwNzUsImV4cCI6MjA4OTA0OTA3NX0.RaQK7t9g-skMm0lVLgfYarKkCW2ARAea6BoONaP6txE
